AtlasName: SPLBrainAtlas
ColorTableFileName: SPLBrainAtlas/Atlas/SPLBrainAtlasColors.ctbl
AdjacenciesFileName: SPLBrainAtlas/Models/adjacencies.txt
VolumeFileName: SPLBrainAtlas/Atlas/SPLBrainAtlasVolume.nrrd
LabelFileName: SPLBrainAtlas/Atlas/SPLBrainAtlasLabels.nrrd
ModelsDirectory: SPLBrainAtlas/Models
VTKDirectory: SPLBrainAtlas/Models/VTK
STLDirectory: SPLBrainAtlas/Models/STL
ScreenshotDirectory: SPLBrainAtlas/Models/Screenshot
ChangesDirectory: SPLBrainAtlas/Changes
StatisticsDirectory: SPLBrainAtlas/Models/Statistics
MRMLDirectory: SPLBrainAtlas/Models/adjacencies.txt
